/* /Pages/Account/Login.razor.rz.scp.css */
.btn[b-glymc7bkok] {
	width: 100%;
}
/* /Pages/Account/Register.razor.rz.scp.css */
body[b-phzwr80qj3] {
	background-color: #f4f4f4 !important;
}

h1[b-phzwr80qj3] {
	font-size: 1.5rem;
}

.bf-account-container[b-phzwr80qj3] {
	padding-top: 50px;
}

.bf-account[b-phzwr80qj3] {
	width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0 0 10rem rgba(0,0,0,0.1);
}

.bf-account-footer[b-phzwr80qj3] {
	text-align: center;
	padding-top: 15px;
}

	.bf-account-footer a[b-phzwr80qj3] {
		opacity: .25;
	}

.center[b-phzwr80qj3] {
	margin: 0 auto;
}

.btn[b-phzwr80qj3] {
	width: 100%;
}
